*
{
    margin: 0px auto;
    font-family: 'Darker Grotesque',sans-serif;
    background-color: rgb(16, 16, 20);
   
}
/* !animacion de loader*/
.loading
{
    position:fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 183, 255);
   
}
.ocultarScroll
{
    overflow:hidden;
}
.ocultarObjetos
{
    opacity: 0%;
    transition: all 1s;
}
/* !animacion de loader*/
.lds-dual-ring {
    background-color: transparent;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: rgb(16, 16, 20,0.5) transparent rgb(16, 16, 20,0.5) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
/* ! fin de animacion de loader*/



.navegacion
{
    user-select: none;
    width: 100%;
    background-color: rgb(16, 16, 20);
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    transition: all 0.5s;
  
    
}
nav
{
    border-color: white;
    height: 50%;
    padding-bottom: 20px;  
}
nav ul
{  
    
    margin-left: -40px;
    padding-left: 0px;
    list-style: none; 
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,80px);

}
nav ul li
{
    
    padding: 10px;
    
}

nav ul li a
{
    background-color: transparent;
    text-decoration:none;
    color: white;
    letter-spacing: 1px;
    position: relative;
}
ul li a:hover
{
    color:rgb(0, 183, 255);
   
}
.conte-logo
{
    width: 100%;
    height:100%;
    display:grid;
    grid-template-columns: 2fr 2fr;
    transition: all 0.5s;
}
.cuadro
{
    background-color: rgb(0, 183, 255);
    width: 100%;
    height: 100%;
    padding-top: 0px;
    margin: 0px;
    transform-origin: right;
    transform:skewX(-45deg);
    position: relative;
    
}
.navegacion .conte-logo .cuadro::before
{ 
    display: block;
    content: "";
    width: 90px;
    height: 100%;
    background-color: rgb(0, 183, 255);
    position:absolute;  
    transform:skewX(45deg);  
}
.yo
{ 
    background-color:rgb(0, 183, 255); 
    width: 60%;
    color: rgb(0, 0, 0);
    text-align: center;
    transform:skewX(45deg);  
    margin:50px auto;
    font-size: x-large;
    user-select: none;
    font-weight: bold;
}
.logo
{
    
    padding: 10px;
    height: 140px;
    width: 140px;
    
}

/*raya celeste del menu*/
.navegacion nav ul li a::before
{
    display: block;
    content: "";
    bottom:-15px;
    height: 7px;
    width: 0%;
    position: absolute;
    
    border-radius: 3px;
}
.navegacion nav ul li a:hover:before
{
    width: 100%;
    background-color: rgb(0, 183, 255);
    transition-property: (background-color,width);
    transition-duration:0.5s;
}

.lin
{
    background-color:rgb(191, 237, 255);
    height: 6px;
    margin: 0 auto;
    border-radius: 100%;
     
}

/* Fin de barra de navigacion*/


/*! correccion carrusel */
.carrusel
{
    background-color:transparent;
    padding: 20px;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    transition: all 0.5s;
    
}
.correct-carru
{
    position:absolute;
}
.correccion
{
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 20px;
    color: white;

}
.correccion p, h5, .carousel-indicators
{
    background-color: transparent;
    color: white;
}
.car-titulo
{
    color: white;
}
.colorboton
{
    color: white;
    background-color: white;
    
}

/*! Contenido boddy */
.contenedor
{
    
    width: 70%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:20px;
    justify-items:center;
    padding:20px 20px 20px 20px;
    transition: all 0.5s;
   
}

.contenedor div
{
   
    
    width: 100%;
    text-align: center; 
   
}


.titulo
{
    user-select: none;
    background-color: rgb(0, 183, 255);
    width:max-content;
    height: max-content;
    border-radius: 10px;   
    text-align: center;
    padding: 10px;
    font-size: x-large;
    font-style:italic;
    margin-bottom: 20px;
    margin-top: 30px;
    transition: all 0.5s;
}

.contenedor p
{
    background-color: rgb(26, 30, 34);
    color:white;
    font-size:18px;
    text-align: justify;
    padding: 15px;
    width: 100%
    
}



/*! servicios */
.conte-servicios
{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;
    justify-items: center;
    
}
.caja-servicios
{
    border: 1px solid;
    border-radius: 10px;
    border-color: white;
    height:100%;
    width:100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
}
.caja-servicios h2
{
    width: max-content;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size:large;
  
}
.caja-servicios img
{
    width: 80%;
    height: 80%;
    border-radius: 5px;

}



/* ! barra de abajo */
.contenedor-bajo
{
    background-color: rgb(16, 16, 20);
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 2fr;
   
    justify-items: center;
    align-items: end;
  
}
.contenedor-bajo .sectores
{
   
    background: linear-gradient(to top,rgb(0, 183, 255),rgb(22, 63, 109));
    height:100%;
    width: 100%;
   
}
.contenedor-bajo .sect1
{
    height: max-content;
}
.contenedor-bajo .sectores .titulo
{
    background-color: rgb(10, 131, 30);
    color: white;
    padding: 10px;
    margin: 10px  auto;
    width: min-content;
    
}
.contenedor-bajo .sectores p
{
    color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
}

.contenedor-bajo .sect2
{
    width: 100%;
    height: 100%;
    display:  grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}
.contenedor-bajo ul
{
    width: 60%;
    height: min-content;
    background-color:transparent;
    list-style: none;
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 20px;
   
}
.contenedor-bajo .sect2 ul li 
{
    padding: 10px;
    border-radius: 10px;
}
.contenedor-bajo  ul li a
{
    text-decoration: none;
    color:rgb(255, 255, 255);
   
}

/* ! fin barra de abajo */








/* Condiciones para 
! hacer responcive
*/


@media (max-width:1080px)
{
    .navegacion
    {
        grid-template-columns: 1fr;
        transition: all 0.5s;
    
    }
    
    .contenedor
    {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        transition: all 0.5s;
    }
  

    .titulo
    {
       
        padding: 10px;
        font-size: 30px ;
        transition: all 0.5s;
    }
    .navegacion nav ul li a:hover:before
    {
    transition-property: (background-color,width);
    transition-duration:0s;
    }
 
    .yo
    { 
        font-size:large;
        font-weight: bold;
    }
    .logo
    {
        height: 120px;
        width: 120px;
        transition: all 0.5s;
    }
    .carrusel
    {      
        width: 100%;
        grid-template-columns: 1fr;
        transition: all 0.5s;
    }
    .loading
    {
        height: 100%;
    }
    .contenedor-bajo
    {
        grid-template-columns: 1fr 1fr;
    }
    .contenedor-bajo ul
    {
        
        grid-template-columns: 1fr;
        grid-gap: 10px;
    
    }
    .conte-servicios
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .caja-servicios
    {
        grid-template-columns: 1fr;
    }
}



@media (max-width:980px)
{
    .contenedor
    {
       
        padding: 10px;
        font-size: 20px;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        transition: all 0.5s;

    }
    .titulo
    {
    
        padding: 5px;
        font-size: 24px;
        transition: all 0.5s;

    }
    p
    {
        padding: 15px;
    }
    .navegacion nav ul li a:hover:before
    {
        transition-property: (background-color,width);
        transition-duration:0s;
    }
    .logo
    {
        height: 120px;
        width: 120px;
        transition: all 0.5s;
    }

  
}